@import './base.css';
@import 'primeicons/primeicons.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

a,
.blue {
  text-decoration: none;
  color: rgb(97, 219, 251);
  transition: 0.4s;
}

.blue {
  color: rgb(97, 219, 251);
}

.green {
  color: hsla(160, 100%, 37%, 1);
}

p {
  margin-bottom: 1em;
  font-size: 1.2rem;
  text-align: justify;
  word-wrap: break-word;
  max-width: 75ch;
}

h1,
h2,
h3,
h4 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

h2 {
  font-size: 2rem;
  padding-left: 3px;
}

h3 {
  font-size: 1.5rem;
  padding-left: 5px;
}
h2 ~ p,
h2 ~ pre {
  margin-left: 5px;
}
h3 ~ p,
h3 ~ pre {
  margin-left: 7px;
}
h4 {
  margin-left: 9px;
}

pre {
  margin-bottom: 1em;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    padding-top: 50px;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}
